.header-container {
    background-color: #2f2f2f;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    color: white;
    font-family: 'Lora', Georgia, serif;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.header__input-search-box {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #969696;
    font-size: inherit;
}


@media (max-width: 660px) {
    .header__input-search-box {
        display: none;
    }
    .header__search-button {
        display: none;
    }

    .header-container {
        text-align: center;
        justify-content: center;
    }
}
