.mobile__search-box-wrapper {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    padding: 0 16px;
    box-sizing: border-box;
}

.mobile__input-search-box {
    padding: 10px;
    width: calc(100% - 90px);
    max-width: 260px;
    border-radius: 5px;
    border: 1px solid #969696;
    font-size: inherit;
}

@media (max-width: 660px) {
    .mobile__search-box-wrapper {
        display: block;
    }
}